<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>
<div align = "center">
<h1>Welcome to your Online Cruise Booking System</h1>
<hr>

<form action="#" th:action="@{/register}" th:object="${customer}" method="post">  
        	<h2>Register to book your cruise!!! </h2><hr>

        	<div id="formpage"> 
            <table>     
                <tr>
                	<td><h3><label for="firstName">First Name</label></h3></td>  
               	    <td><input type="text" th:field="*{firstName}" id="firstName" placeholder="firstName"><td>
    				<td><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><td>
                </tr>
                <tr>  
                    <td><h3><label for="lastName">Last Name</label></h3></td>  
               	    <td><input type="text" th:field="*{lastName}" id="lastName" placeholder="lastName"><td>
    				<td><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><td>
                </tr>  
                <tr>
                	<td><h3><label for="address">address</label></h3></td>  
               	    <td><input type="text" th:field="*{address}" id="address" placeholder="address"><td>
    				<td><span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span><td>  

                </tr>  
                <tr>  
                    <td><h3><label for="city">city</label></h3></td>  
               	    <td><input type="text" th:field="*{city}" id="city" placeholder="city"><td>
    				<td><span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span><td>    
                </tr>  
                <tr>  
                    <td><h3><label for="country">country</label></h3></td>  
               	    <td><input type="text" th:field="*{country}" id="country" placeholder="country"><td>
    				<td><span th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span><td>  
                </tr> 
                <tr>  
                    <td><h3><label for="phone">phone</label></h3></td>  
               	    <td><input type="text" th:field="*{phone}" id="phone" placeholder="phone"><td>
    				<td><span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span><td>
                </tr> 
                <tr>  
                    <td><h3><label for="email">email</label></h3></td>  
               	    <td><input type="text" th:field="*{email}" id="email" placeholder="email"><td>
    				<td><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><td>  
                </tr>
                <tr>
                	<td><hr><h2> Register Login Details</h2><hr></td>
                </tr>
                <tr>  
                    <td><h3><label for="username">User name</label></h3></td>  
               	    <td><input type="text" th:field="*{username}" id="username" placeholder="username"><td>
    				<td><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><td>  
                </tr>
                <tr>  
                    <td><h3><label for="password">password</label></h3></td>  
               	    <td><input type="password" th:field="*{password}" id="password" placeholder="password"><td>
    				<td><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><td>  
                </tr> 
                <tr>  
                    <td>
                    <hr>
	                    <div class="button-center">
		                    <input id = "btn" type="submit" value="Register"></input>
		                    <button name="btnReset" id= "btn" type="reset" value="Clear Form">Clear</button>
	                    </div>
	                    <hr>
                    </td>  
                </tr>
                <tr>  
                    <td><a href="/login">Already have an account? Login here.</a></td>  
                </tr>    
            </table>
           	</div>
        </form>  
        </div>
</body>
</html>